#
# mkmaps.conf 
#
#
[main]
maps = projectname, accountinggroup
header =  # This file generated via cron. Edits will be overwritten.
postrun = condor_reconfig
condorconfigdir = /etc/condor/config.d
condorconfigname = 99_attributemaps.conf

[projectname]
#  projectName = OSG.sPHENIX  or projectName = sPHENIX for hcsubmit, Connect. 
attrname = projectName
defaulttarget = BNL.general
mapfile = /etc/condor/projectname.usermap

[projectname-groupmappings]
sphenix = OSG.sPHENIX
eic = BNL.eic

# Individual mappings. 
[projectname-usermappings]
jhover = OSG.sPHENIX


[accountinggroup]
#  accounting_group = group_sdcc.main for shared pool. 
attrname = AccountingGroup
mapfile = /etc/condor/accountinggroup.usermap
defaulttarget = sdcc.main

[accountinggroup-groupmappings]
sphenix = sdcc.sphenix
eic = sdcc.eic

[accountinggroup-usermappings]
jhover = sdcc.sdcc
